body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.delete-icon {
  margin-right: 3px;
  cursor: pointer;
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 40px;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  #custom-dd {
    height: 25px;
  }
}

.edit-option-uneditable,
.edit-option-editable {
  position: relative;
  left: -20px;
  opacity: 0;
}

input:disabled:hover + .edit-option-editable {
  opacity: 1;
}

.edit-option-editable:hover {
  opacity: 1;
  cursor: pointer;
}

.option-delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 110px;
  .option-delete-tab {
    display: flex;
    border-radius: 5px;
    width: 16.5vw;
    background: #cdcdcd;
    margin: 5px;
    cursor: pointer;
  }
}

.options {
  flex: 1;
  margin-left: 3px;
}

.save {
  margin-left: 40px;
  background: #cdcdcd;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.open-drop-down {
  margin-left: 10px;
  cursor: pointer;
}

.close-drop-down {
  margin-left: 10px;
  transform: rotate(180deg);
  cursor: pointer;
}

.option-delete-tab:hover {
  .delete-icon {
    opacity: 1;
  }
}
